body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main {
    margin: 2rem 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.icon {
    font-size: 1.5rem;
    color: #fff;
    border-radius: 10px;
    margin: 1.25rem 0;
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controller {
    width: 40rem;
}

.btn {
    margin: 1rem 0;
}

.help {
    display: flex;
}

.help-icon {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.help-icon i {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 35px;
    color: #fff;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-top: 1rem;

}

.copyright p {
    margin-left: 4rem;
}

.copyright ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.copyright ul li {
    margin-right: 50px;
}