body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: gray;
}

.main {
    padding: 6rem 3rem;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-text-container {
    margin-right: 10rem;
}

.btn-container {
    padding: 15px 0;
}

.btn {
    margin-right: 2.5rem;
}

.main-img img {
    width: 350px;
    height: 400;
}

.text-image {
    background-color: #fff;
    height: 550px;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.img-container {
    display: flex;
}

/* MAXİM */

.maxim {
    color: black;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maxim-text {
    margin-bottom: 2rem;
    text-align: center;
}

.maxim-container img {
    border-radius: 50px;
    margin-right: 10px;
}

/* CARD-TEXT */

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 2rem;
}

.card-img-top {
    height: 350px;
}

.maxim-container {
    display: flex;
}

.maxim-img {
    padding-left: 1rem;
    padding-top: 2rem;
}

.maxim.name {
    display: flex;
    flex-direction: column;
}

.sign {
    background-color: rgba(36, 36, 236, 0.944);
    color: white;
    margin: 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 0.75rem;
}


.signup-btn {
    margin-left: -2rem;
    border-radius: 0 8px 8px 0;
    border: 1px solid white;
}

.signup-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid white;
}

.left span {
    color: rgba(226, 213, 213, 0.767);
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding-top: 1rem;
}

.copyright p {
    margin-left: 4rem;
}

.copyright ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.copyright ul li {
    margin-right: 50px;
}

.row {
    margin-right: 0;
}

@media screen and (max-width: 500px) {
    .main-img {
        display: none;
    }

    .text-image {
        flex-direction: column;
        align-items: center;
    }

    .sign {
        flex-direction: column;
        text-align: center;
    }

    .copyright {
        flex-direction: column;
        margin-right: 0;
    }

    .copyright ul {
        flex-direction: column;
    }

    .right {
        display: flex;
        flex-direction: column;
    }

}